<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <arguments/>
        <logLevel/>
        <loggerName/>
        <mdc/>
        <message/>
        <stackTrace/>
        <timestamp/>
      </providers>
    </encoder>
  </appender>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <logger level="DEBUG" name="com.vendas123.vendasapi"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>

